/* body{
  background-color: #31223a;
} */
body {
  background: #2f2f2fe3;
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  padding:10px;
  height: 0px;
  color: white;
}